<!-- COMMENTED OUT CODE IS FROM JQUERY EXAMPLE OF DATA BINDING -->
<!-- <!DOCTYPE html> -->
<html ng-app="nameApp">
  <head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-animate.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,900' rel='stylesheet' type='text/css'>
    <link href="animations.css" rel="stylesheet" type="text/css">
   

    <script>
      var nameApp = angular.module('nameApp', ['ngAnimate']); 
      nameApp.controller('NameCtrl',  function($scope){
        $scope.fName = 'Scott'; 
        $scope.lName = 'Miller'; 
        $scope.$watch('lName', function (newVal, oldVal){
          setTimeout(function(){
            $('#testing').text("Thanks for Coming!").animate({opacity: '1', marginLeft: '50%'}, 2000); 
          }, 2000); 
        }); 
      }); 
      nameApp.controller('ScottCtrl', ['$scope', '$http', function(scope, http){
    //         scope.nameList =     [
    //   {"Item": "Play with Dash", "Frequency": "Daily"}, 
    //   {"Item": "Romance McKenna", "Frequency": "Daily"}, 
    //   {"Item": "Take out the trash", "Frequency": "Bi-Weekly"}
    // ]; 

        scope.sortField = 'key';
        scope.reverse = true;  
        // http.get('toDoListData.json').success(function(data){
        //   scope.nameList = data;
        //   scope.newList = eval(scope.nameList); 
        //   console.log('got it', scope.newList); 
        //    scope.newList = []; 
        // }); 
        var savedData = localStorage.getItem('toDoList'); 
        if (savedData){
          console.log('got localStorage!'); 
          scope.localStorage = JSON.parse(savedData); 
          scope.newList = eval(scope.localStorage); 
          console.log('from localStorage', scope.newList); 
      }

        scope.removeItem = function(item){
          var i = scope.newList.indexOf(item); 
          scope.newList.splice(i, 1); 
        };
        scope.addItem = function(){ 
          scope.newList.push({"key": scope.newList.length, "order": scope.howImportant, "Item": scope.enterName, "Frequency": scope.howOften, "imgUrl": scope.imgUrl}); 
          console.log('item added to scope', scope.newList[scope.newList.length-1]); 
          scope.enterName = ''; 
          scope.howOften = ''; 
          scope.howImportant = ''; 
          scope.imgUrl = ''; 
        }; 
        scope.saveList = function(){
          localStorage.setItem('toDoList', JSON.stringify(scope.newList));  
        };  
      }]); 
    </script>
  
  </head>

  <body>
    <div ng-controller='NameCtrl' style='border-radius: 15px; width: 75%; opacity: .9'>
      <div id="game-box" style="background-color: #334455; font-family:'Oswald'; font-size: 20px; padding-left: 30px; width: 90%; padding-bottom: 2%">
        Name:  
        <input ng-model="fName" type="text"/>
        <input ng-model="lName" type="text"/>
      </div>
      <div id='todo' style="background-color: #5AE388; margin-top: 10%; font-family:'Oswald'; font-size: 40px; padding-left: 30px; width: 90%">
       {{fName}} {{lName}}'s TO-DO LIST: 
       </div>
    </div>
    
    <div id='testing' style="font-family:'Oswald'; font-weight: 900; font-size: 30px; padding-left: 50px; width: 90%; color: #564AE2; opacity: 0; height: 5%"></div>
     
     <div ng-controller='ScottCtrl'>
     <input ng-model="query" type="text" placeholder="Search the To-Do List" />

      <table style="font-family:'Oswald'"" width='75%'">
        <tr>
          <th style='text-align: left'><a href='' ng-click="sortField = 'Item'; reverse = !reverse"><big>Item</big></a></th>
          <th style='text-align: left'><a href='' ng-click="sortField = 'Frequency'; reverse = !reverse"><big>Frequency</big></a></th>
          <th style='text-align: left'><a href='' ng-click="sortField = 'order'; reverse = !reverse"><big>Importance</big></a></th>
        </tr>
        <tr class="animate-repeat" ng-repeat="el in newList | filter:query | orderBy:sortField:reverse track by el.key">
          <td width="20%">{{el.Item}}</td>
          <td width="20%">{{ el.Frequency }}</td>
          <td width="20%">{{ el.order }}</td>
          <td width="20%"><img ng-src='{{ el.imgUrl }}' width='150'/></td>
          <td width="20%"> <button ng-click="removeItem(el)">remove item</button></td>
        </tr>
      </table>
     <!-- LIST INSTEAD OF TABLE, TABLE BETTER FOR APPEARANCE
      <ul>
        <li ng-repeat="el in nameList" style='width: 500px'> <span style='width: 150px'>{{ el.Item }}:</span><span style='width: 5%; margin-left: 3%'>{{ el.Frequency }}</span> 
            <button style='margin-left: 3%' ng-click="removeName(el)">remove item</button>
        </li>
      </ul> -->
      <form ng-submit='addItem()'>
        <input ng-model="enterName" type="text" placeholder="New Item" />
         <input ng-model="howOften" type="text" placeholder="Frequency" />
         <input ng-model="howImportant" type="text" placeholder="Importance" />
         <input ng-model="imgUrl" type="text" placeholder="imgUrl" />
        <button>add new item</button>
      </form>
        
        <br>
        <button ng-click='saveList()'>save To-Do list</button>
    </div>
   

  </body>

</html>